services:
  postgres:
    image: postgres:latest
    container_name: taskflow_backend_pg
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/pgdata
    networks:
      - taskflow_backend_net
volumes:
  postgres_data:

networks:
  taskflow_backend_net:
